# Keil MDK
*.bak
*.hex
*.bin
*.map
*.lst
*.crf
*.o
*.obj
*.d
*.sbr
*.dep
*.fed
*.sct
*.suo
*.uvopt
*.uvoptx
*.uvproj
*.uvprojx
*.uvguix.*
*.iex
*.build_log.htm
*.htm
*.lnp
*.axf
*.tra
*.sym
*.out
*.elf
*.mpf
*.mpj
*.cprj
*.i
*.s
*.ddk
*.edk
*.cdk
*.lib
*.a
*.pdb
*.idb
*.iobj
*.ipch
*.aps
*.ncb
*.user
*.kpt
*.ewd
*.ewp
*.eww
*.dnx
*.lsl
*.log
*.r0
*.r1
*.scvd
!RTE/
!RTE/_Project/